html{
    font-family: sans-serif;
    background-color: rgb(22, 131, 255)
}

* {
   margin: 0;
   padding: 0; 
}

#cont{
    width: 600px;
    height: 700px;
    border: 2px solid rgba(0, 0, 0, 0.513);
    margin-top: 40px;
    background-color: rgba(48, 155, 255, 0.513);
}

#player{
    width: 40px;
    height: 40px;
    background-color: rgb(93, 177, 255);
    margin-top: 40px;
    float: left;
    margin-left: 40px;
    
}
 
#score{
   font-weight: bold;
   font-size: 40px;
}

#refresh{
    color: white;
}



    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    

    a.button3{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#4eb5f1;
        text-align:center;
        transition: all 0.2s;
        }
        a.button3:hover{
        background-color:#4095c6;
        }
        @media all and (max-width:30em){
         a.button3{
        display:block;
        margin:0.2em auto;
        }
        }


        a.refresh-button{
            
            display:inline-block;
            padding:0.3em 1.2em;
            margin:0 0.3em 0.3em 0;
            border-radius:2em;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color:#FFFFFF;
            background-color:#4eb5f1;
            text-align:center;
            transition: all 0.2s;
            }
            a.refresh-button:hover{
            background-color:#4095c6;
            }
            @media all and (max-width:30em){
             a.refresh-button{
            display:block;
            margin:0.2em auto;
            }
            }


    
